body{
    background: url(background.png);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#content{
	margin:auto;
	width: 960px;
}
#header{
	width: 100%;
	float: left;
	height: 200px;
	background: url(https://images.unsplash.com/photo-1540228232483-1b64a7024923?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
	text-align: left;
}
#menu{
	width: 100%;
	height: 60px;
	float: left;
	background-color: #333333;
}
#menu ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	margin-right: 100;
	background-color: #333333;
}
#menu li{
	float: right;
	margin: 0;
	border-right: 1px solid #03fee5;
	border-left: 1px solid #03fee5; 
}
#menu li a{
	display: block;
	color: white;
	padding: 19 23;
	text-decoration: none;
	text-align: center;
}
menu a:hover{
	background-color: #111;
}
#main-content{
	width: 100%;
	min-height: auto;
}
#news{
	width: 70%;
	height: 100%;
	overflow: auto;
	float: right;
	background: rgb(193, 193, 193);
}
.profile{
    height: 150px;
    width: 150px;
	float: left;
    border-radius: 50%;
    margin: 93px 0 0 -175px;
    border: 1px solid #333333;
    padding: 7px;
    background: #333333;
}
#news h2{
	margin-top: 40;
	margin-left: 50;
}
#news img{
	margin-top: 10;
	margin-left: 50;
}
#news p{
	text-align: left;
	margin-left: 80;
	margin-right: 20;
}
#side-menu{
	width: 30%;
	height: 100%;
	overflow: auto;
	float: left;
	background-color: #616161;
}
#side-menu h3{
	margin-left: 20;
	margin-right: 20;
	margin-top: 50;
	border-bottom: 2px solid gray;
	padding-bottom: 20;
	margin-bottom: 10;
}
#side-menu ul{
	margin-right: 0;
	margin-top: 0;
	list-style-type: none;
	padding-left: 25;
}
#side-menu li{
	margin-top: 10;
}
footer{
	width: 100%;
	height: 40px;
	float: left;
	background-color: #333333;
}
.footer-text{
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: white;
}
.span-text{
	color: rgb(0, 255, 229);
}
